<div class="row">
  <div class="col">
    <h1 class="float-left">Pacientes</h1>
    <%= link_to "Adicionar paciente", new_hospital_patient_path, class:"btn btn-outline-primary float-right mt-2" %>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-striped" contenteditable="true" spellcheck="false">
        <thead>
          <tr>
            <th class="text-center" scope="col">Nome</th>
            <th class="text-center" scope="col">Data de Nascimento</th>
            <th class="text-center" scope="col">Data de Internação</th>
            <th class="text-center" scope="col">Vias Aérias</th>
            <th class="text-center" scope="col">COVID-19</th>
            <th class="text-center" scope="col">CSN</th>
            <th class="text-center" scope="col">SiaReg</th>
            <th class="text-center" scope="col">Data de Saída</th>
            <th class="text-center" scope="col">Motivo da Saída</th>
            <th class="text-center" scope="col">Leito</th>
            <th class="text-center" scope="col">Aguardando UTI?</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'patient', collection: patients %>
        </tbody>
      </table>
    </div>
  </div>
</div>
