<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Data de Internação</th>
            <th scope="col">Vias Aérias</th>
            <th scope="col">COVID-19</th>
            <th scope="col">CSN</th>
            <th scope="col">SiaReg</th>
            <th scope="col">Data de Movimentação</th>
            <th scope="col">Motivo da Movimentação</th>
            <th scope="col">Leito</th>
            <th scope="col">Aguardando UTI?</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render(partial: 'patients/patient', collection: patients) || render(partial: 'shared/empty_table', locals: { colspan: 12, message: 'Nenhum paciente ativo encontrado.' } ) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
