<div class="row mb-4">
  <div class="col">
    <h1 class="float-left"><%= t('views.patients.edit.title') %></h1>
    <%= link_to "voltar", hospital_patients_path, class:"btn btn-outline-primary float-right" %>
  </div>
</div>

<%= render partial: 'form' %>
