<div class="row mb-4">
  <div class="col">
    <h1 class="float-left">Pacientes</h1>
    <%= link_to "Adicionar paciente", new_hospital_patient_path, class:"btn btn-outline-primary float-right" %>
  </div>
</div>

<%= render partial: 'patients', locals: { patients: @patients } %>
