<div class="row">
  <div class="col">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-form-label col-md-6">
            <label for="hospital">Hospital</label>
            <input type="text" class="form-control" id="hospital" value="<%= hospital.name %>" aria-describedby="hospital" readonly>
          </div>
          <div class="col-form-label col-md-6">
            <label for="city">Município</label>
            <input type="text" class="form-control" id="city" value="<%= hospital.city %>" aria-describedby="city" readonly>
          </div>
        </div>
        <div class="row">
          <div class="col-form-label col-md-6">
            <label for="phone_number">Telefone</label>
            <input type="text" class="form-control" id="phone_number" aria-describedby="phone_number" value="<%= hospital.phone_number %>" readonly>
          </div>
          <div class="col-form-label col-md-6">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" aria-describedby="email" value="<%= hospital.email %>" readonly>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
