
<div class="row">
  <div class="col">
    <h1 class="float-left">Ocupação de Leitos</h1>
    <%= link_to "editar dados de ocupação", edit_hospital_path(@hospital), class:"btn btn-outline-primary float-right mt-2" %>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group">
      <div class="row mb-3">
        <% hospital_beds.each do |hospital_bed| %>
          <div class="col-3">
            <label><%= HospitalBed.human_enum_name(:bed_type, hospital_bed.bed_type) %></label>
            <input type="text" class="form-control" id="hospital" value="<%= hospital_bed.total %>" aria-describedby="hospital" readonly>
            <span class="text-muted">
              dos quais <%= hospital_bed.total_covid %> são de COVID-19
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
