<div class="row">
  <div class="col">
    <h1 class="float-left">Editar Dados Gerais do Hospital</h1>
    <%= link_to "voltar", hospital_path(@hospital), class:"btn btn-primary float-right" %>
  </div>
</div>

<%= render :partial => 'form' %>
