<%= render partial: 'info', locals: { hospital: @hospital } %>
<%= render partial: 'statistics', locals: { hospital_beds: @hospital.hospital_beds } %>
<%= render partial: 'patients', locals: { patients: @patients } %>

<div class="row mt-5 mb-5">
  <div class="col">
    <%= link_to "Enviar Relatório", "#", class: 'btn btn-primary float-right' %>
  </div>
</div>
